/* Nico Armato */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Montserrat, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* heading font adjustment */
h1, h2, h3 {
    font-family: Molle;
}

/* variables */
:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}

/* skip styles */

#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

/* font sizes */

h1 { 
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
    font-weight: 800;
}

/* header stuff + gradient */

header {
    background: linear-gradient(to bottom, var(--teal), var(--white));
    padding: 16px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

header nav {
    grid-column-start: 2;
    grid-row-start: 1;
}

header p {
    grid-column-start: 1;
    grid-row-start: 3;
}

/* figuring out spacing */

section {
    padding: 16px;
}

#intro {
    padding: 16px;
    display: flex;
    flex-direction: column;

}

/* background colors */
#plan {
    background: var(--yellow);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#about {
    background: var(--blue);
}

/* flexing and gridding */
#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 32px;
}

#testimonials div section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#testimonials div section q {
    font-style: italic;
}

/* plan section stuff */

#plan div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--yellow);
}

#plan div section {
    padding: 24px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--teal);
    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: var(--white);
}

/* form code stuff */
.form-required {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: italic;
}

.required {
    color: var(--purple);
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#contact form div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#contact form input {
    padding: 12px;
    border-color: var(--purple);
    border-width: 2px;
    font-family: Montserrat, sans-serif;
}

.custom-select select {
    padding: 12px;
    font-family: Montserrat, sans-serif;
    border-color: var(--purple);
    border-width: 2px;
}

#prefEmail, #prefText, #prefPhone {
    width: 48px;
    height: 48px;
}

#nums fieldset {
    display: flex;
    flex-direction: column;
}

#nums fieldset label {
    display: flex;
    align-items: center;
    gap: 8px;
}

#mySubmit {
    background: var(--purple);
    color: var(--white);
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}

/* footer stuff */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 16px 48px 16px;
    background: var(--light-gray);
}

footer a {
    color: var(--black);
    text-decoration: none;
}